@model Booker.Models.Book
@using Microsoft.AspNetCore.Identity
@using Booker.Areas.Identity.Data

@inject UserManager<BookerUser> UserManager

@{
    ViewData["Title"] = "Details";
    BookerUser user = await UserManager.GetUserAsync(User);
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <img src="@Model.Image" class="img-fluid mb-3" style="width:20%" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            Categories
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categories)
        </dd>
        <dt class="col-sm-2">Link to Buy</dt>
        <dd class="col-sm-10">
            <a href="@Model.BuyLink">Buy Here</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            Rating (0-5) :
        </dt>
        <dd class="col-sm-10">
            @if(!float.IsNaN(ViewBag.ratingSum))
            {
                <p>@ViewBag.ratingSum</p>
            }
            else
            {
                <p>No Rating Yet</p>
            }
        </dd>
    </dl>
</div>
<div>
    @if(user != null && user.Id == Model.BookerUserId)
    {
        <a asp-action="Edit" asp-route-id="@Model.ISBN">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.ISBN">Delete</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
@if(user != null && user.Id != Model.BookerUserId)
{
    <div>
        <form asp-action="Details">
            <div class="form-group">
                <label for="rating" class="control-label">Rate Here (0-5): </label>
                @if(ViewBag.rating != null)
                {
                    <input type="number" max="5" min="0" step="1" name="rating" value="@ViewBag.rating" />
                }
                else
                {
                    <input type="number" max="5" min="0" step="1" name="rating" />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Rate" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <form asp-action="CreateComment">
            <input type="hidden" name="bookId" value="@Model.ISBN" />
            <div class="form-group">
                <label for="content" class="control-label">Add a Comment : </label><br />
                <textarea class="form-control" name="content" cols="50" rows="4" placeholder="Type it here"></textarea><br />
                <input type="submit" value="Comment" class="btn btn-primary" />
            </div>
        </form>
    </div>
}
<div>
    <partial name="../Comments/Comments.cshtml" />
</div>