@model Booker.ViewModels.BookCommentViewModel
@using Microsoft.AspNetCore.Identity
@using Booker.Areas.Identity.Data

@inject UserManager<BookerUser> UserManager

@{
    ViewData["Title"] = "Details";
    BookerUser user = await UserManager.GetUserAsync(User);
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <img src="@Model.Book.Image" class="img-fluid mb-3" style="width:20%" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Editor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Editor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            Categories
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Categories)
        </dd>
        <dt class="col-sm-2">Link to Buy</dt>
        <dd class="col-sm-10">
            <a href="@Model.Book.BuyLink">Buy Here</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Description)
        </dd>

        <dt class="col-sm-2">
            Rating (0-5) :
        </dt>
        <dd class="col-sm-10">
            @if(!float.IsNaN(ViewBag.ratingSum))
            {
                <p>@ViewBag.ratingSum</p>
            }
            else
            {
                <p>No Rating Yet</p>
            }
        </dd>
    </dl>
</div>
<div>
    @if(user != null && user.Id == Model.Book.BookerUserId)
    {
        <a asp-action="Edit" asp-route-id="@Model.Book.ISBN">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Book.ISBN">Delete</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
@if(user != null && user.Id != Model.Book.BookerUserId)
{
    <div>
        <form asp-action="Details">
            <div class="form-group">
                <label for="rating" class="control-label">Rate Here (0-5): </label>
                @if(ViewBag.rating != null)
                {
                    <input type="number" max="5" min="0" step="1" name="rating" value="@ViewBag.rating" />
                }
                else
                {
                    <input type="number" max="5" min="0" step="1" name="rating" />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Rate" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <form asp-action="CreateComment">
            <input type="hidden" name="id" value="@Model.Book.ISBN" />
            <div class="form-group">
                <label for="content" class="control-label">Add a Comment : </label><br />
                <textarea class="form-control" name="content" cols="50" rows="4" placeholder="Type it here"></textarea><br />
                <input type="submit" value="Comment" class="btn btn-primary" />
            </div>
        </form>
    </div>
}
<div>
    @foreach(var item in Model.Comments)
    {
        var userName = UserManager.Users.Where(u => u.Id.Equals(item.BookerUserId)).First().GetFullName();
        <div class="card">
            @if(item.BookerUserId.Equals(user.Id))
            {
                <div class="card-body">
                    <form asp-action="EditComment" class="m-1">
                        <input type="hidden" name="commentId" value="@item.Id" />
                        <input type="hidden" name="id" value="@Model.Book.ISBN" />
                        <textarea class="form-control" name="content" cols="50" rows="4">@item.Content</textarea><br />
                        <input type="submit" value="Edit" class="btn btn-primary" />
                    </form>
                    <hr />
                    <form asp-action="DeleteComment" class="m-1">
                        <input type="hidden" name="commentId" value="@item.Id" />
                        <input type="hidden" name="id" value="@Model.Book.ISBN" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </div>
            }
            else
            {
                <div class="card-body">@item.Content</div>
            }

            <div class="card-footer">
                Last Update : @item.PublicationDate<br />
                Author : @userName
            </div>
        </div>

        <hr class="m-2" />
    }
</div>